@import "constants";

@mixin error {
  color: $red;
  word-wrap: break-word;
  font: {
    size: $droid-sans-xs;
  }
}

body {
  color: $gray-darkest;
  font: {
    family: "DroidSansRegular";
    size: $droid-sans-m;
  }
}

h1 {
  font: {
    size: $droid-sans-xxl;
  }
}

.form_container {
  margin-top: 100px;

  form {
    margin-top: 40px;
    margin-bottom: 40px;

    .base_error {
      margin-top: -15px;
      margin-bottom: 15px;
      @include error;
      overflow: hidden;
    }

    .form_row {
      margin-bottom: 20px;
      overflow: hidden;

      input[type=text], input[type=password] {
        color: $gray-darkest;
        border: 2px solid $gray-darker;
        padding: 3px 5px 3px 5px;
        background-color: $baige-light;
        font: {
          size: $droid-sans-l;
        }
      }

      .label {
        text-align: right;
        padding-top: 7px;
      }

      input[type=text], input[type=password], .errors {
        width: 95%;
      }

      .errors {
        padding-top: 5px;
        @include error;
      }
    }

    h1{
      margin-bottom: 40px;
    }

    .submit_row {
      padding-top: 10px;

      .alternate_link {
        margin-left: 10px;
        color: $blue;
        font: {
          size: $droid-sans-s;
        }

        a {
          color: $blue;
        }
      }
    }

    .primary_button {
      color: $gray-darkest;
      border: none;
      padding: 5px 25px 5px 15px;
      background: url('/images/arrow_button.png') 95% 55% no-repeat scroll $orange;

      font: {
        family: "BebasRegular";
        size: $bebas-m;
      }
    }

  }
}

.baige_container {
  background-color: $baige-light;
}
