@import "constants";

#header {
  height: 100px;
  border: {
    style: solid;
    top: {
      width: 3px;
    }
    bottom: {
      width: 3px;
    }
    left: {
      style: none;
    }
    right: {
      style: none;
    }
    color: $gray-dark;
  }

  #logo {
    padding: 20px 0px 20px 0px;
    font-family: 'OrbitronMedium';
  }
}

#footer {
  background-color: $gray-dark;
}