@font-face {
  font-family: 'OrbitronRegular';
  src: url("/fonts/orbitron-regular-webfont.eot");
  src: url("/fonts/orbitron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/orbitron-regular-webfont.woff") format("woff"), url("/fonts/orbitron-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasRegular';
  src: url("/fonts/bebas-webfont.eot");
  src: url("/fonts/bebas-webfont.eot") format("embedded-opentype"), url("/fonts/bebas-webfont.woff") format("woff"), url("/fonts/bebas-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DroidSansRegular';
  src: url("/fonts/droidsans-webfont.eot");
  src: url("/fonts/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/droidsans-webfont.woff") format("woff"), url("/fonts/droidsans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*colors*/
/*font-sizes*/
