@font-face {
  font-family: 'OrbitronRegular';
  src: url("/fonts/orbitron-regular-webfont.eot");
  src: url("/fonts/orbitron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/orbitron-regular-webfont.woff") format("woff"), url("/fonts/orbitron-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasRegular';
  src: url("/fonts/bebas-webfont.eot");
  src: url("/fonts/bebas-webfont.eot") format("embedded-opentype"), url("/fonts/bebas-webfont.woff") format("woff"), url("/fonts/bebas-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DroidSansRegular';
  src: url("/fonts/droidsans-webfont.eot");
  src: url("/fonts/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/droidsans-webfont.woff") format("woff"), url("/fonts/droidsans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*colors*/
/*font-sizes*/
#header {
  height: 100px;
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333; }
  #header #logo {
    padding: 20px 0px 20px 0px;
    font-family: 'OrbitronRegular';
    font-size: 48px; }
  #header ul.navigation {
    border-bottom: 1px solid #868686;
    height: 20px;
    word-spacing: 2px;
    font-size: 11px;
    font-family: 'BebasRegular';
    padding-left: 50px;
    float: right;
    margin: 10px 0px 10px 0px; }
    #header ul.navigation li {
      float: left;
      list-style: none outside none;
      text-align: center; }
      #header ul.navigation li a {
        padding: 0px 10px 5px 10px;
        color: #868686;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid transparent; }
        #header ul.navigation li a:hover {
          color: white;
          border-bottom: 1px solid white;
          -webkit-transition: all 0.5s ease-in 0s;
          -moz-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          -ms-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out; }
    #header ul.navigation li a {
      color: #333333; }
      #header ul.navigation li a:hover {
        color: #cc3333;
        border-bottom: 1px solid #cc3333; }
  #header .login_status {
    height: 60px; }

#footer {
  background-color: #333333; }
  #footer ul.navigation {
    border-bottom: 1px solid #868686;
    height: 20px;
    word-spacing: 2px;
    font-size: 11px;
    font-family: 'BebasRegular';
    padding-right: 150px;
    float: left;
    margin-top: 40px; }
    #footer ul.navigation li {
      float: left;
      list-style: none outside none;
      text-align: center; }
      #footer ul.navigation li a {
        padding: 0px 10px 5px 10px;
        color: #868686;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid transparent; }
        #footer ul.navigation li a:hover {
          color: white;
          border-bottom: 1px solid white;
          -webkit-transition: all 0.5s ease-in 0s;
          -moz-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          -ms-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out; }
  #footer .credit_label {
    border-bottom: 1px solid #868686;
    height: 20px;
    word-spacing: 2px;
    font-size: 11px;
    font-family: 'BebasRegular';
    margin-top: 40px;
    float: right;
    padding: 0px 13px 0px 150px;
    text-align: right;
    color: white; }
  #footer .credit {
    margin-top: 15px;
    color: #868686;
    font-size: 11px;
    font-family: 'DroidSansRegular'; }
    #footer .credit ul {
      float: right;
      padding-right: 10px; }
      #footer .credit ul li {
        list-style: none outside none;
        text-align: left; }
        #footer .credit ul li .label {
          color: white; }
      #footer .credit ul li.name {
        padding-bottom: 5px; }
