<div id="footer">

  <div class="container_12">
    <div class="grid_8">
      <ul class="navigation">
        <li><%= link_to("Report a problem", "/") %></li>
        <li><%= link_to("Contact us", "/") %></li>
      </ul>
    </div>
    <div class="grid_4 credits">

    </div>
  </div>

</div>